<main>
    <section>
        <h2 style=" color: #e7e9ea;">Who We Are</h2>
        <p style=" color: #e7e9ea;">Welcome to Mini Blog! We are a platform dedicated to helping people share their thoughts, ideas, and stories
            with the world.</p>
    </section>
    <section>
        <h2 style=" color: #e7e9ea;">Our Mission</h2>
        <p style=" color: #e7e9ea;">Our mission is to create a space where everyone can express themselves freely and connect with others through
            meaningful content.</p>
    </section>
    <section>
        <h2 style=" color: #e7e9ea;">What We Offer</h2>
        <ul>
            <li style=" color: #e7e9ea;">A simple and user-friendly platform for blogging.</li>
            <li style=" color: #e7e9ea;">Opportunities to connect with like-minded individuals.</li>
            <li style=" color: #e7e9ea;">Tools to help you grow your audience and share your voice.</li>
        </ul>
    </section>
</main>