<main>
    <section>
        <h2 style=" color: #e7e9ea;">Get in Touch</h2>
        <p style=" color: #e7e9ea;">If you have any questions or concerns, feel free to reach out to us!</p>
        <ul>
            <li class="support-list" style=" color: #e7e9ea;">Email: support@fakeemail.com</li>
            <li class="support-list" style=" color: #e7e9ea;">Phone: (123) 456-7890</li>
        </ul>
    </section>
</main>