<main>
    <section>
        <h2>Get in Touch</h2>
        <p>If you have any questions or concerns, feel free to reach out to us!</p>
        <ul>
            <li class="support-list">Email: support@fakeemail.com</li>
            <li class="support-list">Phone: (123) 456-7890</li>
        </ul>
    </section>
</main>