<main>
    <section>
        <h2 class="text-light">Get in Touch</h2>
        <p class="text-light">If you have any questions or concerns, feel free to reach out to us!</p>
        <ul>
            <li class="support-list text-light">Email: support@fakeemail.com</li>
            <li class="support-list text-light">Phone: (123) 456-7890</li>
        </ul>
    </section>
</main>